RewriteEngine On
RewriteBase /bealet-website/

# Redirect /something.php to /something
RewriteCond %{THE_REQUEST} \s/+bealet-website/([^\s?]+?)\.php(?:[\s?]|$) [NC]
RewriteRule ^ %1 [R=301,L]

# Redirect /index.php to /
RewriteCond %{THE_REQUEST} \s/+bealet-website/index\.php(?:[\s?]|$) [NC]
RewriteRule ^index\.php$ ./ [R=301,L]

# Serve extensionless URLs from matching PHP files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]
